# Dependencies
node_modules/
**/node_modules/

# Turbo
.turbo/

# Build output
dist/
build/
coverage/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Vite
vite.config.ts.timestamp-*